/* 포토후기 Modify */

#review{min-width:auto;height: 100%;}

.review-modify-wrap{padding:15px; height:100%; visibility:hidden; overflow-y: auto; font-size:13px;box-sizing: border-box;}
.review-modify-wrap .ec-base-box.typeProduct{padding:0;border: 0;}
.review-modify-wrap .ec-base-box.typeProduct .thumbnail, .review-modify-wrap .ec-base-box.typeProduct .information{padding:0 0;}
.review-modify-wrap .ec-base-box.typeProduct .thumbnail{width:50px; padding-right:10px; }
.review-modify-wrap .ec-base-box.typeProduct .thumbnail img{width:50px;}
.review-modify-wrap .ec-base-box.typeProduct .information h3{font-size:12px;float:left;padding-right:6px;}
.review-modify-wrap .ec-base-box.typeProduct .button{display:block;margin-top:6px;}
.review-modify-wrap .ec-base-box.typeProduct .button [class^='btn'],
.review-modify-wrap .ec-base-box.typeProduct .button a[class^='btn']{padding: 0 5px; height: 26px; line-height: 26px; font-size: 12px;}

.review-modify-wrap .ec-base-table table {font-size:13px;}
.review-modify-wrap .ec-base-table table .inputTypeText{width: 60%;}
.review-modify-wrap .ec-base-table table .agree textarea{width: 60%;}
#captcha.inputTypeText{width:auto;}

.review-modify-wrap .wp-point-box{width:200px; height: 36px;  box-sizing: border-box; position:relative;background: url(/board/review/img/ico_point_base.gif) no-repeat 0 0;background-size:190px;}
.review-modify-wrap .wp-point-box input[type=radio],
.review-modify-wrap .wp-point-box input[type=checkbox]{display: none; }
.review-modify-wrap .wp-point-box input[type=radio] + label{height: 36px;display:block;cursor: pointer; position: absolute; left: 0; top: 0; opacity:0; margin:0; background-size:190px; background-position:0 0; background-repeat:no-repeat}
.review-modify-wrap .wp-point-box input[type=radio] + label em{display:none;}
.review-modify-wrap .wp-point-box #point0 + label{background-image: url(/board/review/img/ico_point5.gif);width: 200px;z-index: 10; }
.review-modify-wrap .wp-point-box #point1 + label{background-image: url(/board/review/img/ico_point4.gif);width: 155px;z-index: 11;}
.review-modify-wrap .wp-point-box #point2 + label{background-image: url(/board/review/img/ico_point3.gif);width: 115px;z-index: 12;}
.review-modify-wrap .wp-point-box #point3 + label{background-image: url(/board/review/img/ico_point2.gif);width: 76px; z-index: 13;}
.review-modify-wrap .wp-point-box #point4 + label{background-image: url(/board/review/img/ico_point1.gif); width: 36px;z-index: 14;}
.review-modify-wrap .wp-point-box input[type=radio]:checked + label{opacity:1;}

.review-modify-wrap .ec-base-button .gRight{float: none;}
.review-modify-wrap .ec-base-button [class^='btn'],
.review-modify-wrap .ec-base-button a[class^='btn']{font-size: 14px; padding: 0;width: 100px;height: 46px;line-height: 46px;}

#content_IFRAME{height: 220px !important;}




