.xans-myshop-mileagehistorypackage .title { margin:0px 0 20px 0px; }
.xans-myshop-mileagehistorypackage .title h3 {  font-size:20px; }

.xans-myshop-mileageunavailpackage .title { margin:0px 0 20px 0px; }
.xans-myshop-mileageunavailpackage .title h3 {  font-size:20px; }

.xans-myshop-mileagecouponpackage  .title { margin:0px 0 20px 0px; }
.xans-myshop-mileagecouponpackage  .title h3 {  font-size:20px; }

.xans-myshop-summary { margin:0 0 20px; }
.xans-myshop-summary ul:after { content:""; display:block; clear:both; }
.xans-myshop-summary ul li { float:left; margin:5px 0; padding:0 45px; width:50%; height:20px; font-size:12px; line-height:1.6; vertical-align:top; box-sizing:border-box; }
.xans-myshop-summary .title { float:left; width:50%; font-weight:normal; box-sizing:border-box; }
.xans-myshop-summary .data { float:left; width:50%; padding:0 10px 0 10px;  text-align:right; box-sizing:border-box; }

.xans-myshop-summary.ec-base-box{background:#f7f7f7; border:0; padding: 0; margin:20px 0 50px}
.xans-myshop-summary.ec-base-box ul{overflow: hidden;}
.xans-myshop-summary.ec-base-box ul li{ width: 20%;text-align: center;padding: 0;margin: 0;height: auto;padding: 30px 0;position: relative;}
.xans-myshop-summary.ec-base-box ul li:after{content: "";width: 1px;height: 65px;background: #dbdbdb;/* display: inline-block; *//* vertical-align: middle; *//* float: right; */position: absolute;top: 50%;margin-top: -32px;right: 0;}
.xans-myshop-summary.ec-base-box ul li:last-child:after{content:none;}
.xans-myshop-summary.ec-base-box ul li strong,
.xans-myshop-summary.ec-base-box ul li span.data1,
.xans-myshop-summary.ec-base-box ul li span.data2{display: block;margin: 0 auto;float: none;width: 100%;text-align: center;padding: 0; }
.xans-myshop-summary.ec-base-box ul li strong{font-size:15px; font-weight:normal; margin-top:7px;}
.xans-myshop-summary.ec-base-box ul li span.data1{font-weight:bold;  font-size:21px;}
.xans-myshop-summary.ec-base-box ul li span.data2{font-size:21px; }

.ec-base-tab.tab1 .menu {margin:0 0 30px;}
.ec-base-tab.tab1 .menu li{width:33.33%;}
.ec-base-tab.tab1 .menu li a{font-size:17px; padding: 0;height: 55px;line-height: 53px; }
.ec-base-tab.tab1 .menu li.selected a{font-weight:normal;}
