/* 쿠폰 */
.xans-coupon-productdetailajax.ec-base-fold { margin:0 7px 7px; }
.xans-coupon-productdetailajax .contents { background:#fff; }
.xans-coupon-productdetailajax .contents li { }
.xans-coupon-productdetailajax .contents li:first-child { border-top:0; }
.xans-coupon-productdetailajax .coupon { width:216px; height:127px; margin:10px auto; font-size:12px; line-height:1.5; text-align:center; background-repeat:no-repeat; }
.xans-coupon-productdetailajax .coupon .title { display:block; line-height:15px; text-align:center; }
.xans-coupon-productdetailajax .coupon .discount { line-height:28px; text-align:center;text-decoration:none;  }
.xans-coupon-productdetailajax .coupon .discount span { font-size:20px;color: #ff5880; font-weight:bold;}
.xans-coupon-productdetailajax .coupon .period { line-height:13px;text-align:center; }
.xans-coupon-productdetailajax .coupon .button { margin:5px 0 0; text-align:center; }

.xans-coupon-productdetailajax .coupon.imgCoupon{width:auto; height:auto;}
.xans-coupon-productdetailajax .coupon.imgCoupon .title,
.xans-coupon-productdetailajax .coupon.imgCoupon .discount,
.xans-coupon-productdetailajax .coupon.imgCoupon .period,
.xans-coupon-productdetailajax .coupon.imgCoupon .button{display:none;}