.ec-base-tab { position:relative; }
.ec-base-tab .menu {
    margin:0 0 20px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;
}
.ec-base-tab .menu:after { content:""; display:block; clear:both; }
.ec-base-tab .menu li { float:left; }
.ec-base-tab .menu li a { display:block; min-width:187px; margin:0 0 0 -1px; padding:15px 5px 13px; color:#707070; text-decoration:none;font-size: 14px; outline:0; text-align:center; background:#fff;  border: 1px solid #dbdbdb;}
.ec-base-tab .menu li:first-child a { margin-left:0; }
.ec-base-tab .menu li.selected a { position:relative; top:0; left:0; border:1px solid #2a2a2a; color:#fff; font-weight:bold; background:#2a2a2a; }
.ec-base-tab .menu li.selected:first-child a { left:0; }
.ec-base-tab > .right { position:absolute; top:8px; right:10px; line-height:24px; color:#909090; }
  /* typeLight */
  .ec-base-tab.typeLight .menu li.selected a { margin:0 0 -2px; border-bottom:1px solid #fff; color:#404040; background:#fff; }
  /* grid (2~7) */
  .ec-base-tab[class*="grid"] .menu { display:table; table-layout:fixed; width:100%; }
  .ec-base-tab[class*="grid"] .menu li { float:none; display:table-cell; vertical-align:middle;  border-bottom:1px solid #ddd;}
  .ec-base-tab[class*="grid"] .menu li a { display:inline-block; width:100%; min-width:0; margin:0; padding:11px 0; border:0; }
  .ec-base-tab[class*="grid"] .menu li.selected {border-bottom:1px solid #000;}
  .ec-base-tab[class*="grid"] .menu li:first-child.selected { right:0; }
  .ec-base-tab[class*="grid"] .menu li.selected a { position:static; background:none; color:#000;}
    .ec-base-tab.grid2 .menu li { width:50.5%; }
    .ec-base-tab.grid3 .menu li { width:34%; }
    .ec-base-tab.grid4 .menu li { width:25.5%; }
    .ec-base-tab.grid5 .menu li { width:20.5%; }
    .ec-base-tab.grid6 .menu li { width:17%; }
    .ec-base-tab.grid7 .menu li { width:14.8%; width:15% \0/; }
    .ec-base-tab.grid7 .menu li:first-child { width:13% \0/; }
  /* gFlex */
  .ec-base-tab.gFlex .menu { display:flex; border-right:0; }
  .ec-base-tab.gFlex .menu:after { display:none; }
  .ec-base-tab.gFlex .menu li { display:flex; align-items: center; float:none; flex:1; position:relative; }
  .ec-base-tab.gFlex .menu li:last-child {  }
  .ec-base-tab.gFlex .menu li a { width:100%; min-width:0; border-right:0; word-break:break-all; }
  .ec-base-tab.gFlex .menu li a:after { content:''; width:100%; height:100%; position:absolute; top:0; left:0; }
  .ec-base-tab.gFlex .menu li.selected { border:1px solid #2a2a2a; border-bottom:0; background:#2a2a2a; }
  .ec-base-tab.gFlex .menu li.selected a { left:0; margin:0 0 -1px -1px; background:#2a2a2a; border:0; position: initial;}