/* ============================== 메인 화면 CSS ============================== */

#main #contents{padding:0;}


/* 메인진열상품 */
/* html에서 .section-title 클래스를 가진 요소에만 반영되는 css */
	.section-title {
        margin:0 0 34px;
        text-align: center; 
        word-break: keep-all;
		}
	.section-title h3{
        font-size:33px;
        color:#000;
        font-weight:500;
		/* word-break: keep-all */;}
	.section-title h3 > span *,
	.section-title h3 + span{
        color: #999;
        font-weight: normal;
        display: block;
        margin-top:5px;
        font-size:18px;
	}

/* 메인 배너 슬라이더 영역 */
	.bxslider-wrap{
        text-align:center;
        animation-name: frm-mainsd;
        animation-duration: 1s;
        animation-timing-function:ease-in;
        animation-fill-mode:forwards;
	}
	#bxslider1,
	#bxslider1 > li{
        height:580px;
        position:relative;
	}
	#bxslider1{
        position:relative;
        overflow:hidden;
	}
	#bxslider1 > li:first-child{
        z-index:1;
	}
	#bxslider1 > li .img{
        position:absolute !important;
        width:5000px !important;
        margin-left:-2500px !important;
        top:0 !important;
        left:50% !important;
	}
	#bxslider1 > li .txt{
        position: absolute;
        text-align: left;
        display: block;
        z-index: 10;
        top: 50%;
        left: 50%;
        color: #222;
        margin-left: -640px;
        margin-top: -60px;
	}
	#bxslider1 > li .txt span{
        opacity:0;
	}
	#bxslider1 > li .txt-small{
        font-size:21px;
        color:#222;
        display:block;
        margin:0 0 10px;
	}
	#bxslider1 > li .txt-big{
        font-size:42px;
        color:#222;
        display:block;
        font-weight:700;
        line-height:1.3;
        letter-spacing:-1px;
	}
	#bxslider1 > li .txt-bt{
        border-radius:30px;
        font-size:17px;
        border:1px solid #222;
        display:inline-block;
        padding:10px 20px;
        margin-top:40px;
        transition:all .15s linear;
	}
	#bxslider1 > li .txt-bt:hover{
        background:#222;
        color:#fff;
	}
	#bxslider1 > li .txt-bt:after{
        content:"+";
        padding-left:20px;
	}
	#bxslider1 img{
        display:inline !important;
	}
	#bxslider1 > li.fff .txt-small,
	#bxslider1 > li.fff .txt-big,
	#bxslider1 > li.fff .txt-bt{
        color:#fff;
	}
	#bxslider1 > li.fff .txt-bt{
        border-color:#fff;
        color:#fff;
	}
	#bxslider1 > li.fff .txt-bt:hover{
        background:#fff;
        color:#000;
	}
	.main_bnr_100 .bx-wrapper .bx-pager,
	.main_bnr_100 .bx-wrapper .bx-controls-auto{
        bottom:15px;
        z-index:30;
	}
	.main_bnr_100 .bx-wrapper .bx-prev,
	.main_bnr_100 .bx-wrapper .bx-next{
        opacity:0;
        transition: opacity .25s ease;
	}
	.main_bnr_100 .bx-wrapper:hover .bx-prev,
	.main_bnr_100 .bx-wrapper:hover .bx-next{
        opacity:1;
	}
	.main_bnr_100 .bx-wrapper .bx-prev {
        left: 50%;
        margin-left:-730px;
	}
	.main_bnr_100 .bx-wrapper .bx-next {
        right: 50%;
        margin-right:-730px;
	}
	.main_bnr_100 .bx-wrapper .bx-prev:before,
	.main_bnr_100 .bx-wrapper .bx-next:before{
        width: 35px;
        height: 35px;
        border-width: 2px 2px 0 0;
        border-color: #999;
        border-style: solid;
        position: absolute;
        display: inline-block;
        content: "";
	}
	.main_bnr_100 .bx-wrapper .bx-prev:before{
        left: 50%;
        top: -2px;
        transform: rotate(-135deg) translate(0%, -50%);
	}
	.main_bnr_100 .bx-wrapper .bx-next:before{
        right: 50%;
        bottom: -2px;
        transform: rotate(45deg) translate(0%, -50%);
	}
	.main_bnr_100 .bx-wrapper .bx-controls-direction a {
        margin-top: -30px;
        width: 60px;
        height: 60px;
	}
	.main_bnr_100 .bx-wrapper .bx-pager-item{
        vertical-align:middle;
	}
	.main_bnr_100 .bx-wrapper .bx-pager.bx-default-pager{
        bottom: 30px;
	}
	.main_bnr_100 .bx-wrapper .bx-pager.bx-default-pager a{
        background: rgba(0, 0, 0, 0.25);
        border:0; margin:0 4px;
        width:9px;
        height:9px;
        border-radius:9px;
	}
	.main_bnr_100 .bx-wrapper .bx-pager.bx-default-pager a.active{
        background: rgba(0, 0, 0, 0.55);
        border:none;
        width:25px;
	}
	@media screen and (max-width: 1300px){
		.main_bnr_100 .bx-wrapper .bx-prev,
		.main_bnr_100 .bx-wrapper .bx-next {
            display:none;
        }
	}

/* 메인 카테고리 (브랜드 바로가기) 영역 */
	.main_category_wrap{
        margin:0; 
        padding: 70px 0;
	}
	.main_category_wrap .swiper-container{
        text-align: center; 
        margin:0 50px;
	}
	.main_category_wrap ul li{
        padding:10px 0;
	}
	.main_category_wrap a{
        text-decoration:none; 
        display:block;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
	}
	.main_category_wrap img{
        border-radius: 50%;
        transition: box-shadow .25s ease; 
        max-width:100%;
	}
	.main_category_wrap ul li:hover img{
        box-shadow: 1px 2px 14px rgba(0, 0, 0, 0.15);
	}
	.main_category_wrap .txt{
        font-size: 15px;
        padding-top: 10px;
        display: block;
	}
	.main_category_wrap .swiper-pagination-bullets{
        bottom:0;
        display:none;
	}
	.main_category_wrap .swiper-pagination-bullet{
        background: rgba(0, 0, 0, 0.25);
	}
	.main_category_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active{
        background: rgba(0, 0, 0, 0.55);
	}
	.main_category_wrap .swiper-button-prev,
	.main_category_wrap .swiper-button-next{
        background:none;
        border:0px solid red;
        width: 45px;
        height: 45px;
        margin-top: 5px;
	}
	.main_category_wrap .swiper-button-prev.swiper-button-disabled,
	.main_category_wrap .swiper-button-next.swiper-button-disabled{
        display:none;
	}
    .main_category_wrap .swiper-button-prev:before,
    .main_category_wrap .swiper-button-next:before{
        position:absolute;
        top:50%;
        left:50%;
        margin-top:-10px;
        width:20px;
        height:20px;
        border-top:2px solid #444;
        border-left:2px solid #444;
        opacity:.6;
        content:'';
        transition:all .3s;
	}
	.main_category_wrap .swiper-button-prev:before{
        transform: rotate( 315deg );
        margin-left:-5px;
	}
	.main_category_wrap .swiper-button-next:before{
        transform: rotate( 135deg );
        margin-left:-15px;
	}
	.main_category_wrap .swiper-button-next{}

/*
	.main_bnr_200{margin:120px 0;}*/

/* 기획전 영역 */
	.main_bnr_300{
        margin:60px 0 150px;
	}
	#MainBnr300 {
        position:relative;
        height:414px;
        overflow:hidden;
	}
	#MainBnr300.slick-loading{
        background: #fff url('/web/upload/wp/bxslider/bx_loader.gif') center center no-repeat;
	}
	#MainBnr300.slick-loading li{
        display:none;
	}
	#MainBnr300 li.slick-slide{
        position:relative;
	}
	#MainBnr300 li.slick-slide a:after{
        transform:scale(0.9);
        content:"";
        display:block;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:rgba(255, 255, 255, 0.65); /* 비활성 슬라이드에 흰색 오버레이 */
        z-index:1;
        transition: all .25s ease;
	}
	#MainBnr300 li.slick-slide.slick-active a:after,
	#MainBnr300 li.slick-slide.slick-selected a:after{
        background:none;
        transform:scale(1);
	}
	#MainBnr300 li img{
        transform:scale(0.9);
        transition:transform .25s ease;
        width:100%;
	}
	#MainBnr300 li.slick-active img,
	#MainBnr300 li.slick-selected img{
        transform:scale(1);
	}
	#MainBnr300 .slick-arrow{
        position:absolute;
        top:50%;
        width:60px;
        height:60px;
        margin-top:-25px;
        font-size:0;
        background:none;
        z-index:1;
        border-radius: 50%;
        background: rgba(255,255,255,0.5);
        transition:all .3s;
        border: 1px solid #ddd;
	}
	#MainBnr300 .slick-arrow:before{
        position:absolute;
        top:50%;
        left:50%;
        margin-top:-10px;
        width:20px;
        height:20px;
        border-top:2px solid #444;
        border-left:2px solid #444;
        opacity:.6;
        content:'';
        transition:all .3s;
	}
	#MainBnr300 .slick-arrow:hover{
        background: rgba(255,255,255,1);
	}
	#MainBnr300 .slick-arrow:hover:before{
        opacity:1;
	}
	#MainBnr300 .slick-prev{
        left:50%;
        margin-left:-410px;
	}
	#MainBnr300 .slick-next{
        right:50%;
        margin-right:-410px;
	}
	#MainBnr300 .slick-prev:before{
        transform: rotate(315deg);
        margin-left: -5px;
	}
	#MainBnr300 .slick-next:before{
        transform: rotate(135deg);
        margin-left: -16px;
	}
	#MainBnr300 .slick-dots{
        position: absolute;
        left:auto;
        bottom: 10px;
        text-align: center;
        width:1200px;
        left: 50%;
        margin-left: -600px;
	}
	#MainBnr300 .slick-dots > li{
        display:inline-block;
	}
	#MainBnr300 .slick-dots > li button{
        padding:5px;
        margin:5px;
        border-radius:50%;
        background:rgba(255,255,255,0.5);
        font-size:0;
        transition:all .3s;outline:0;
	}
	#MainBnr300 .slick-dots > li.slick-active button{
        background:rgba(255,255,255,.9);
	}

/* 상품 진열 영역 - 베스트 상품 */
	.prd-best{
        margin:0 0 120px 0;
        background:#f5f5f5;
        padding:60px 0 50px;
	}
	.prd-best:after{
        content:"";
        display:block;
        clear:both;
	}
	.prd-best .section-title{
        text-align:left;
        float:left;
        width:270px;
	}
	.prd-best .section-title h3 > span *{
        margin-top:10px;
	}
	.prd-best .ec-base-product .swiper-container{
        display:inline-block;
        float:right;
	}
	.prd-best .ec-base-product .prdList{
        width:1000px;
	}

	.prd-best .ec-base-product .swiper-scrollbar-drag{
        background: rgba(0,0,0,0.9);
	}
	.prd-best .swiper-scrollbar{
        height:3px;
	}

/*
	.prd-md{margin:120px 0 150px;}
	.prd-md:after{content:"";display:block; clear:both;}
	.prd-md .mov{float:left; width:766px;}
	.prd-md .video{position:relative;padding-top:56.25%;line-height:0;}
	.prd-md .mov iframe{position:absolute;width:100%;left:0;top:0;height:100%;}
	.prd-md .prod{float:right;width:490px;height:430px;}
	.prd-md .ec-base-product .prdList{min-width:0;}
	.prd-md .ec-base-product .prdList > li{display:block; width: 100%;border-bottom: 1px solid #eee;margin: 0; padding: 20px 0;}
	.prd-md .ec-base-product .prdList > li:first-child{padding-top:5px;}
	.prd-md .ec-base-product .prdList > li:last-child{border-bottom:0; padding-bottom:5px; }
	.prd-md .ec-base-product .prdList .thumbnail{width: 190px;display: inline-block;vertical-align: top;padding: 0;margin: 0 0 0 5px;}
	.prd-md .ec-base-product .prdList .description{width: 255px;display: inline-block;vertical-align: top;padding: 0;margin: 0 0 0 20px;}
	.prd-md .swiper-container{width: 100%;height: 100%; padding-right:20px;box-sizing: border-box;}
	.prd-md .swiper-slide{height: auto;box-sizing: border-box;}

	.prd-md .swiper-container-vertical > .swiper-scrollbar{width:3px;}
	.prd-md .swiper-scrollbar-drag{background: rgba(0,0,0,0.9);}*/

/* 상품 진열 영역 - 신상품 */
	.prd-new{
        margin:120px 0 120px;
	}

/*
	.prd-timesale{margin:120px 0 60px;}
	.prd-timesale .section-title > h3:before{content:"";display:inline-block; background:url(/web/upload/wp/167417/img_time_36.png) no-repeat left center; width:38px;height:38px;vertical-align: middle;}*/

/* 메인 리뷰 영역 */
	.main-review .xans-board{
        border-top:1px solid #eee;
        padding:80px 0;
	}
	.main-review .review-list{
        margin-top:0;
        margin-bottom:30px;
	}
	.main-review .review-list.gall li.item .cont-right .prod-wrap{
        border:0;
        border-top:1px solid #eee;
	}
	.main-review .review-list.gall li.item .cont-right .vote-wrap{
        display:none;
}
	.main-review .swiper-scrollbar{
        left:0;
        width:100%;
        height:3px;
	}
	.main-review .swiper-scrollbar-drag{
        background:rgba(0,0,0,0.9);
	}

/* 메인공지글 */
	.main-notice{
        border-top:1px solid #eee; 
        background:#fff; 
        padding:20px 0; 
        font-size:0; 
        position: relative; 
        line-height:1.5;}
	.main-notice .xans-board-title{ 
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 24px; }
	.main-notice .board_list{
        display:inline-block; 
        vertical-align:middle; 
        width: calc(100% - 330px); 
        height:24px; 
        overflow:hidden; 
        line-height:1.4;}
	.main-notice .board_list li{
        display:inline-block; 
        vertical-align:middle; }
	.main-notice .board_list li.subject{
        font-size:16px; 
        max-width:700px;}
	.main-notice .board_list li.date{
        color:#999;
        font-size:14px; 
        margin-left:8px;}
	.main-notice .board_list li a{
        display:block;
        overflow:hidden;
        white-space:nowrap; 
        text-overflow:ellipsis;
        color:#191919;}
	.main-notice .bt_prev,
	.main-notice .bt_next,
	.main-notice .bt_more{ 
        font-size:0; 
        border:1px solid #ddd;
        width: 32px;
        height: 32px;
        transition: all .25s ease; 
        position: absolute;top: 50%;
        transform: translateY(-50%); /* margin-top 대신 */
        border-radius:50%;}
	.main-notice .bt_prev{
        right:124px; }
	.main-notice .bt_next{
        right:82px }
	.main-notice .bt_more{
        right: 0;}
	.main-notice .bt_prev:hover,
	.main-notice .bt_next:hover,
	.main-notice .bt_more:hover{
        border-color:#111; 
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);}
	.main-notice .bt_prev:after{
        /* content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url('https://samkyoungmkt.cafe24.com/icon/ico_pre.svg') no-repeat center;
        background-size: contain;
        margin-left: 0 0 0 10px;
        vertical-align: middle;} */
        content: "";
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%); /* 완전한 가운데 정렬 */
    	width: 16px; /* 크기 줄임 */
    	height: 16px;
    	background: url('https://samkyoungmkt.cafe24.com/icon/ico_next.svg') no-repeat center;
    	background-size: contain;}
	.main-notice .bt_next:after{
        /* content: ""; 
        display: block; 
        width: 10px; 
        height: 10px; 
        border-top: 2px solid #444; 
        border-left: 2px solid #444;   
        transform: rotate( 135deg ); 
        margin: 12px 0 0 10px;
        border-radius: 1px;} */
        content: "";
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%); /* 완전한 가운데 정렬 */
    	width: 16px; /* 크기 줄임 */
    	height: 16px;
    	background: url('https://samkyoungmkt.cafe24.com/icon/ico_pre.svg') no-repeat center;
    	background-size: contain;}
	.main-notice .bt_more:before{
        /* content:"";
        display:block; 
        width:17px;
        height:2px;
        background:#444;
        margin: 17px auto 0;
        border-radius: 1px;} */
        content: "";
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%); /* 완전한 가운데 정렬 */
    	width: 16px; /* 크기 줄임 */
    	height: 16px;
    	background: url('https://samkyoungmkt.cafe24.com/icon/ico_more.svg') no-repeat center;
    	background-size: contain;}
	.main-notice .bt_more:after{
        /* content:"";
        display:block; 
        width:2px;
        height:17px;
        background:#444;
        margin: -9px auto 0;
        border-radius: 1px;} */
        content: "";
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%); /* 완전한 가운데 정렬 */
    	width: 16px; /* 크기 줄임 */
    	height: 16px;
    	background: url('https://samkyoungmkt.cafe24.com/icon/ico_more.svg') no-repeat center;
    	background-size: contain;}
	.main-notice a{text-decoration:none;}